@import "tailwindcss";

/* Custom variant (saved for formatting)
@custom-variant shad (&:where(.shadowed, .shadowed *));
*/

/* Preserve whitespace  */
div {
	white-space: pre-wrap;
	font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
}

/* Custom text styles */
.title {
	font-size: 32px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
.modal-title {
	font-size: 28px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
.submodal-title {
	font-size: 22px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
.item-title {
	font-size: 20px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
.light-large {
	font-size: 24px;
	font-weight: lighter;
	color: rgba(100, 100, 100, 1);
}
.light-small {
	font-size: 14px;
	font-weight: lighter;
	color: rgba(100, 100, 100, 1);
}

/* Custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
	width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: rgba(198, 203, 211, 1);
	border-radius: 9999px;
}

/* Edit icon */
.edit-icon:after {
	content: '\270e';
	color: rgba(60, 60, 80, 0.6);
}
.edit-icon:hover {
	opacity: 100%;
}
.edit-icon {
	opacity: 50%;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}