@import "tailwindcss";

/* Custom variant (saved for formatting)
@custom-variant shad (&:where(.shadowed, .shadowed *));
*/

/* Preserve whitespace  */
div {
	white-space: pre-wrap;
}

/* Custom text styles */
.title {
	font-size: 32px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
h1 {
	font-size: 28px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
h2 {
	font-size: 20px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
h4 {
	font-size: 24px;
	font-weight: lighter;
	color: rgba(100, 100, 100, 1);
}
h5 {
	font-size: 14px;
	font-weight: lighter;
	color: rgba(100, 100, 100, 1);
}
h6 {
	font-size: 20px;
	color: rgba(255, 0, 0, 1);
}

/* Custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
	width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: rgba(198, 203, 211, 1);
	border-radius: 9999px;
}

.edit-icon:after {
	content: '\270e';
	color: rgba(60, 60, 80, 0.6);
}
.edit-icon:hover {
	opacity: 100%;
}
.edit-icon {
	opacity: 50%;
}