@import "tailwindcss";

/* Custom variant (saved for formatting)
@custom-variant shad (&:where(.shadowed, .shadowed *));
*/

/* Custom text styles */
h1 {
	font-size: 28px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
h2 {
	font-size: 20px;
	font-weight: bold;
	color: rgba(60, 60, 80, 0.8);
}
h5 {
	font-size: 14px;
	font-weight: lighter;
	color: rgba(100, 100, 100, 1);
}

/* Custom scrollbar */
.scrollbar-thin::-webkit-scrollbar {
	width: 6px;
}
.scrollbar-thin::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
	background-color: rgba(153, 161, 175, 0.4);
	border-radius: 9999px;
}